@media (max-width: 768px) {

.header{

  .upper-header {
    padding: 0.5em;
  
    > .logo-part {
      > h1 {
        font-size: 1.2em;
      }
    }
    > .middle-div-navbar-portion:focus-within {
      border: 2px solid rgb(231, 229, 229);
      border-radius: 1em;
    }
   
    .middle-div-navbar-portion {

      border: 2px solid transparent;
      border-radius: 1em;
      display: flex;
      overflow: hidden;

          > select {
        width: 4.5em;
        box-shadow: 1px 1px 2px 0.5px #e4e9eeb7;
        border: none;
        background-color: #232F3E;
        color: #e4e9ee;
        border-radius: 1em 0px 0px 1em;
        cursor: pointer;
        &:focus {
          outline: none;
        }
     
      }

      >input{
        width: 45vw;
        border: none;
        font-size: 1em;
        padding-left: 1em;
        font-family: "poppins";
        &:focus {
          outline: none;

     
        }
        &::placeholder {
          color: black;
          font-size: 1em;
        }
      }

      >.search-icon-input-bar {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0em 1em 1em 0em;
        background-color: #232F3E;
        color: #e4e9ee;
        width: 3em;
        box-shadow: 1px 1px 2px 0.5px #e4e9eeb7;

        > .search-icon {
          font-size: 1.5em;
          cursor: pointer;
        }
      }
    }

    > .cart-portion {

       >.cart-icon{
         font-size: 1.5em;
        }
    
    
      }
  }

  .lower-header {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: #232F3E;
    position: relative;
    gap: 2em;

    .links-part{
      position: absolute;
      transition: all 0.1s ease;
      top: -2000%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      >a{
        text-decoration: none;
        color: #e4e9ee;
        font-size: 1em;   
        :hover {
          background-color: #615f5f49;
        }
      }
    }
   

    .menu .menu-icon{
        display:block;
        font-size: 1.5em;
        visibility:visible;
        opacity: 1;
        align-self: center;

    }
    .menu-open{

    }
  }



}
 







}